
div

div#id

div.class

div(attr="value")

div&attributes({
    test: "test"
})

div Text

div: div

div
    | Text

div.
    Hi this is
    Few lines of text

div/

div.test1(class="test2")&attributes({class: "test3"})
