div
    span!= test.toString()
    case test.length
        when 1
            span One
        when 2
            span Two
        when 3
            span Three
        when 4
            span Four
        when 5
        when 6
            span Five or Six
        when 7
        default
            span Others